<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <!--Gimantha-->
   <!--  <add name="connstring" connectionString="Data Source=MSI\SQLEXPRESS;Initial Catalog=KethmiHoldings;Integrated Security=True"/>-->
    <!--Sashika-->
       <add name="connstring" connectionString="Data Source=DESKTOP-PLMQAVR\SQLEXPRESS;Initial Catalog=KethmiHoldings;Integrated Security=True"/>

  </connectionStrings>
  <appSettings>    
  <add key="Server" value=""/>    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>
