<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
     <add name="connstring" connectionString="Data Source=MSI\SQLEXPRESS;Initial Catalog=KethmiHoldings;Persist Security Info=True;User ID=smgsystems;Password=smgsoft"/>
</connectionStrings>
  <appSettings>    
  <add key="Server" value=""/>    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>
